.luxfhe__result {
  display: flex;
  justify-content: flex-end;
}

.luxfhe__result .luxfhe_value {
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.luxfhe__result .luxfhe_reencrypt {
  font-size: 10px;
  border-radius: 3px;
  color: var(--text);
  background: var(--secondary);
  padding: 2px 4px;
  cursor: pointer;
}

.luxfhe_decrypted {
  font-weight: normal;
  font-size: 12px;
  display: inline-block;
  max-width: 120px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
