.luxfhe_multiArg label {
  width: 33%;
  padding: 0;
  margin: 0 4px 0 0;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  word-break: initial;
}

.luxfhe_inputContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 66%;
  flex-grow: 0;
}

.luxfhe_inputContainer input {
  width: 100%;
}

.luxfhe_inputContainer__small input {
  width: auto;
  flex-grow: 1;
  max-width: calc(100% - 90px);
}

.luxfhe_inputContainer__small select {
  width: 85px;
  margin-left: 5px;
}
